/* header {
  background-color: #88dbcd;
  height: 200px;
  margin-bottom: 200px;
}

footer {
  background-color: #88dbcd;
  height: 200px;
} */

header, 
footer {
  background-color: #55e837;
  height: 200px;
}

header {
  margin-bottom: 200px;
}

.navigation {
  height: 200px;
  line-height: 200px;
  text-align: center;
}

.navigation a {
  font-size: 1.5em;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0 20px;
  color: #fff;
}

.navigation a:hover {
  color: #263dce;
  border-bottom: 2px solid;
}

img {
  width: 250px;
}

.image-1 {
  float: right;
  margin-left: 10px;
}

.image-2 {
  float: left;
  margin-right: 10px;
}

